.main-card {
    margin: 20px;
    min-height: 400px;
}
/* todays meds made me crazy. not sure I will code much */
.main-div {
    background-color: blue;
}

.newsh-btn{
    margin:20px;
    background-color: crimson;
    color: black;
}