.login-background{

        height: auto;
        /* background-repeat: no-repeat; 
        background-size: cover;
        margin-top: auto;   */
        background-color:lightslategray;
    }

    @media screen and (max-width: 992px) {
        .login-background{
          background-color: blue;
        }
      }

      @media screen and (max-width: 600px) {
        .login-background{
          background-color: olive;
        }
      }

.login_ui {
        background-color: #2d8059;
        width: 200px;
        height: 30%;
        margin: 20px auto;
        padding: 50px;
        border-radius: 2px;
}

.log-in {
        background-color: #b1369e;
        border-radius: 4px;
        color: #f8f8f8;
        min-height: 50px;
        min-width: 100px;
        outline:0;
        cursor: pointer;
}

.log-in:hover{
        background-color: #c3d330;
        color:black;
      }
