.login-background{

        height: auto;
        background-repeat: no-repeat; 
        background-size: cover;
        margin: auto;
        background-color:lightslategray;
        padding: 190px;
    }

    @media screen and (max-width: 1200px) {
      .login-background{
        background-color: blue;
        padding:140px;
      }
    }
    @media screen and (max-width: 950px) {
      .login-background{
        background-color:yellow;
        padding:85px;
      }
    }

    @media screen and (max-width: 600px) {
      .login-background{
        background-color: olive;
      }
    }
    @media screen and (max-width: 375px){
      
    }

.login_ui {
        background-color: #2d8059;
        width: 250px;
        height: 30%;
        margin: 20px auto;
        padding: 50px;
        border-radius: 2px;
}
@media screen and (max-width: 375px){
  .login_ui {
    padding:0.25px;
  }
}

.log-in {
        background-color: #b1369e;
        border-radius: 4px;
        color: #f8f8f8;
        min-height: 50px;
        min-width: 100px;
        outline:0;
        cursor: pointer;
}

.log-in:hover{
        background-color: #c3d330;
        color:black;
      }

/* apparently I need to make this more mobile friendly as well */
