.login-background{
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: auto;
        background-color:lightslategray;
        min-height: 850px;
    }

.login_ui {
        background-color: #2d8059;
        width: 30%;
        height: 250px;
        margin: 20px auto;
        padding: 25px;
        border-radius: 2px;
}

.log-in {
        background-color: #b1369e;
        border-radius: 4px;
        color: #f8f8f8;
        min-height: 50px;
        min-width: 100px;
        outline:0;
        cursor: pointer;
}

.log-in:hover{
        background-color: #c3d330;
        color:black;
      }
