.dashboard {
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: auto;
    background-color:lightslategray;
    min-height: 850px;
}

.dash-card {
    margin-left: 40px;
    margin-right: 40px;
    border-radius: 2px; 
}
