:react-root {
    --space: 1.5em 0;
    --space: 2em 0;
}

footer {
    height: 100px;
    background-color:purple;
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    position: relative;
}
