.addNewCard {
    height: 400px;
    margin-left: 40px;
    margin-right: 40px;
    border-radius: 2px; 
    margin-bottom: 40px;
    margin-top: 40px;
}

.new-build-form {
    margin-left: 20px;
}

.new-input-fields {
    margin-top: 10px;
}