.reg-background{

    height: auto;
    background-repeat: no-repeat; 
    background-size: cover;
    margin: auto;
    background-color:teal;
    padding: 190px;
}
@media screen and (max-width: 1200px) {
    .reg-background{
      background-color: blue;
      padding:140px;
    }
  }
@media screen and (max-width: 950px) {
    .login-background{
      background-color:rgb(255, 51, 0);
      padding:85px;
    }
  }

@media screen and (max-width: 600px) {
    .reg-background{
      background-color:mediumvioletred;
    }
  }



.reg_ui{
    background-color:firebrick;
    width: 250px;
    height: 30%;
    margin: 20px auto;
    padding: 50px;
    border-radius: 2px;
}

@media screen and (max-width: 375px){
  .reg_ui {
    padding:10px;
    width:190px;
    margin-left: -50px;
    margin-top: -100px;
    margin-bottom: -70px;

  }
}

/* button css */
.register {
    background-color: #060c0c;
    border-radius: 4px;
    color: #f8f8f8;
    min-height: 50px;
    min-width: 100px;
    outline:0;
    cursor: pointer;
  }
  .register:hover{
    background-color:orangered;
    color:aliceblue;
  }


  .link-button-login {
    background:none;
    color:yellow;
    border:none;
    padding:0;
    font: inherit;
    outline:0;
    border-bottom:1px solid #444; 
    cursor: pointer;
  }

  @media screen and (max-width: 375px){
    .link-button-login {
        margin-top:80px; 
    }
}
