.reg-background{

    height: auto;
    background-repeat: no-repeat; 
    background-size: cover;
    margin: auto;
    background-color:teal;
    padding: 190px;
}
@media screen and (max-width: 1200px) {
    .reg-background{
      background-color: blue;
      padding:140px;
    }
  }
@media screen and (max-width: 950px) {
    .login-background{
      background-color:rgb(255, 51, 0);
      padding:85px;
    }
  }

@media screen and (max-width: 600px) {
    .reg-background{
      background-color: olive;
    }
  }



.reg_ui{
    background-color: #2d8059;
    width: 250px;
    height: 30%;
    margin: 20px auto;
    padding: 50px;
    border-radius: 2px;
}

@media screen and (max-width: 375px){
  .reg_ui {
    padding:10px;
    width:180px;

  }
}
